# temporarily lock versions of molecule and ansible-compat to avoid a bug:
ansible-compat==0.5.0
molecule==3.5.2
molecule-docker<2.0
docker
ansible-lint<3.6
pytest-testinfra
jmespath
selinux
passlib
ansible<4.11
ansible-core<2.12
PyYAML<6,>=5.1
